@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.pwa-container {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	z-index: 9999;
	opacity: 0;
	transition:
		opacity 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
	font-family: "Roboto", sans-serif;
	color: #212121;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.pwa-container.visible {
	opacity: 1;
}

.pwa-container .pwa-modal {
	background-color: #f5f5f5;
	border-radius: 7px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	padding: 49px 19px 32px 19px;
	margin: auto;
	margin-top: 40px;
	max-width: 400px;
	width: 90%;
	transition: opacity 0.3s ease-in-out;
	display: flex;
	flex-direction: column;
	line-height: normal;
}

@keyframes pwa-bounce-modal {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

.pwa-container.visible .pwa-modal,
.pwa-container.visible .pwa-logo {
	transform: translateY(0);
	opacity: 1;
	animation: pwa-bounce-modal 0.5s;
}

.pwa-container .pwa-logo {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 80px;
	width: 80px;
	z-index: 10000;
}

.pwa-container .pwa-logo img {
	width: 80px;
	height: 80px;
	border-radius: 12px;
}

.pwa-container .pwa-modal .pwa-title {
	font-size: 27px;
	font-weight: 700;
	padding: 0px 0px 18px 0px;
	text-align: justify;
	word-spacing: -0.1em;
	text-align: center;
}

.pwa-container .pwa-modal .pwa-error-title {
	font-size: 24px;
	font-weight: 700;
	margin: 5px 10px 15px 10px;
	text-align: justify;
}

.pwa-container .pwa-modal .pwa-error-body {
	font-size: 20px;
	margin: 0px 10px 20px 10px;
	text-align: justify;
}

.pwa-container .pwa-modal .pwa-error-copy-link-button {
	background-color: white;
	border: 1px solid;
	border-radius: 4px;
	font-size: 19px;
	padding: 5px;
}

.pwa-container .pwa-modal .pwa-list {
	display: flex;
	flex-direction: column;
}

.pwa-container .pwa-modal .pwa-list .pwa-emphasis {
	font-weight: 700;
	font-size: 20px;
}

.pwa-container .pwa-modal .pwa-list .pwa-your-app-icon {
	height: 40px;
	margin: 0px 5px -13px 5px;
	border-radius: 6px;
}

.pwa-container .pwa-modal .pwa-list .pwa-list-item {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: flex-start;
	margin: 0px 0px 10px 0px;
}

.pwa-container .pwa-modal .pwa-list .pwa-list-item .pwa-number-container {
	flex-direction: column;
	display: flex;
	margin: 0px 5px 0px 0px;
}

.pwa-container .pwa-modal .pwa-list .pwa-list-item .pwa-circle {
	font-size: 30px;
	height: 40px;
	width: 40px;
	border-radius: 100px;
	background-color: #979797;
}

.pwa-container .pwa-modal .pwa-list .pwa-list-item .pwa-number {
	padding: 9px 0px 0px 15px;
	color: white;
	font-size: 20px;
	font-weight: 100;
}

.pwa-container .pwa-modal .pwa-list .pwa-list-item .pwa-instruction {
	font-size: 19px;
	line-height: 27px;
	padding: 0px 5px 0px 5px;
	text-align: justify;
}

/* IOS Safari */
.pwa-container.pwa-ios.pwa-safari
	.pwa-modal
	.pwa-list
	.pwa-ios-safari-sharing-api-button {
	height: 35px;
	margin: 0px 5px -7px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
	background-color: #ffffff;
}

.pwa-container.pwa-ios.pwa-safari
	.pwa-modal
	.pwa-list
	.pwa-ios-safari-add-to-home-screen-button {
	height: 33px;
	margin: 0px 5px -7px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
	background-color: #ffffff;
}

@keyframes pwa-ios-safari-bouncing-arrow-animation {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-30px);
	}

	60% {
		transform: translateY(-15px);
	}
}

.pwa-container.pwa-ios.pwa-safari .pwa-ios-safari-bouncing-arrow-container img {
	height: 60px;
	position: absolute;
	top: calc(100dvh - 60px);
	left: 0;
	right: 0;
	margin: auto;
	animation: pwa-ios-safari-bouncing-arrow-animation 2s infinite;
}

/* IOS Chrome */
@keyframes pwa-ios-chrome-bouncing-arrow-animation {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(20px);
	}

	60% {
		transform: translateY(5px);
	}
}

.pwa-container.pwa-ios.pwa-chrome
	.pwa-modal
	.pwa-list
	.pwa-ios-chrome-more-button {
	height: 35px;
	margin: 0px 5px -7px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
	background-color: #ffffff;
}

.pwa-container.pwa-ios.pwa-chrome .pwa-ios-chrome-bouncing-arrow-container img {
	height: 40px;
	position: absolute;
	top: 0;
	right: 18px;
	animation: pwa-ios-chrome-bouncing-arrow-animation 1.5s infinite;
}

.pwa-container.pwa-ios.pwa-chrome
	.pwa-modal
	.pwa-list
	.pwa-ios-chrome-add-to-home-screen-button {
	height: 35px;
	margin: 0px 5px -7px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
	background-color: #ffffff;
}

/* Android Chrome */
@keyframes pwa-android-chrome-bouncing-arrow-animation {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(20px);
	}

	60% {
		transform: translateY(5px);
	}
}

.pwa-container.pwa-android.pwa-chrome
	.pwa-android-chrome-bouncing-arrow-container
	img {
	height: 40px;
	position: absolute;
	top: 0;
	right: 15px;
	animation: pwa-android-chrome-bouncing-arrow-animation 1.5s infinite;
}

.pwa-container.pwa-android.pwa-chrome
	.pwa-modal
	.pwa-list
	.pwa-android-chrome-more-button {
	height: 30px;
	background: white;
	margin: 0px 5px -7px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
}

.pwa-container.pwa-android.pwa-chrome
	.pwa-modal
	.pwa-list
	.pwa-android-chrome-add-to-homescreen-button {
	height: 30px;
	background: white;
	margin: 0px 5px -9px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
	padding: 0px 7px 0px 4px;
}

.pwa-container.pwa-android.pwa-chrome
	.pwa-modal
	.pwa-list
	.pwa-android-chrome-install-app {
	height: 30px;
	background: white;
	margin: 10px 5px -10px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
	padding: 0px;
}

.pwa-container.pwa-android.pwa-chrome
	.pwa-modal
	.pwa-list
	.pwa-list-item
	.pwa-instruction {
	line-height: 34px;
}

/* In-App System Browser */
.pwa-container.pwa-inappbrowser-openinsystembrowser .pwa-modal .pwa-title {
	padding: 0px 0px 9px 0px;
}

.pwa-container.pwa-inappbrowser-openinsystembrowser
	.pwa-modal
	.pwa-list
	.pwa-emphasis {
	padding: 6px 8px;
	border-radius: 5px;
	margin: 0px 0px 0px 5px;
	box-shadow: 1px 1px 2px gray;
	background: white;
	width: fit-content;
	font-weight: 500;
}

.pwa-container.pwa-inappbrowser-openinsystembrowser
	.pwa-modal
	.pwa-list
	.pwa-list-item {
	margin: 6px 0px 9px 0px;
}

.pwa-container.pwa-inappbrowser-openinsystembrowser
	.pwa-modal
	.pwa-list
	.pwa-list-item
	.pwa-instruction {
	padding: 0px 0px 2px 9px;
	line-height: 42px;
}

@keyframes pwa-inappbrowser-openinsystembrowser-bouncing-arrow-animation {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(20px);
	}

	60% {
		transform: translateY(5px);
	}
}

.pwa-container.pwa-inappbrowser-openinsystembrowser
	.pwa-inappbrowser-openinsystembrowser-bouncing-arrow-container
	img {
	height: 40px;
	position: absolute;
	top: 0;
	right: 6px;
	animation: pwa-inappbrowser-openinsystembrowser-bouncing-arrow-animation 1.5s
		infinite;
}

.pwa-container.pwa-inappbrowser-openinsystembrowser
	.pwa-modal
	.pwa-list
	.pwa-more-button {
	height: 35px;
	background: white;
	margin: 0px 5px -11px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
}

/* In-App Safari Browser */
.pwa-container.pwa-inappbrowser-openinsafari .pwa-modal .pwa-title {
	padding: 0px 0px 9px 0px;
}

.pwa-container.pwa-inappbrowser-openinsafari
	.pwa-modal
	.pwa-list
	.pwa-emphasis {
	padding: 6px 8px;
	border-radius: 5px;
	margin: 0px 0px 0px 5px;
	box-shadow: 1px 1px 2px gray;
	background: white;
	width: fit-content;
	font-weight: 500;
}

.pwa-container.pwa-inappbrowser-openinsafari
	.pwa-modal
	.pwa-list
	.pwa-list-item {
	margin: 6px 0px 9px 0px;
}

.pwa-container.pwa-inappbrowser-openinsafari
	.pwa-modal
	.pwa-list
	.pwa-list-item
	.pwa-instruction {
	padding: 0px 0px 0px 9px;
	line-height: 34px;
	margin: 4px 0px 0px 0px;
}

@keyframes pwa-inappbrowser-openinsafari-bouncing-arrow-animation {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
	}

	60% {
		transform: translateY(-5px);
	}
}

.pwa-container.pwa-inappbrowser-openinsafari
	.pwa-inappbrowser-openinsafari-bouncing-arrow-container
	img {
	height: 40px;
	position: absolute;
	top: calc(100dvh - 40px);
	right: 15px;
	animation: pwa-inappbrowser-openinsafari-bouncing-arrow-animation 1.5s
		infinite;
}

.pwa-container.pwa-inappbrowser-openinsafari
	.pwa-modal
	.pwa-list
	.pwa-more-button {
	height: 35px;
	background: white;
	margin: 0px 5px -11px 5px;
	box-shadow: 1px 1px 2px gray;
	border-radius: 4px;
}
